.u-section-1 {
  background-image: url("/static/img/dsff-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 460px;
}

.u-section-1 .u-group-1 {
  min-height: 380px;
  width: 460px;
  margin: 40px auto 40px 39px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 70px 30px 45px;
}

.u-section-1 .u-shape-1 {
  width: 69px;
  height: 69px;
  margin: 37px auto 0 1px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  letter-spacing: normal;
  font-family: Oswald, sans-serif;
  font-weight: normal;
  margin: 20px 1px 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 1.875rem;
  margin: 16px 0 0 1px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 85px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 137px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }
}
.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1628px;
}

.u-section-2 .u-blog-1 {
  width: 1140px;
  margin: 0 0 30px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  grid-gap: 30px 30px;
  min-height: 1790px;
  grid-auto-columns: calc(50% - 15px);
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  margin: 30px 30px 0;
}

.u-section-2 .u-image-1 {
  height: 298px;
  margin: 20px 30px 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 30px 0;
}

.u-section-2 .u-metadata-1 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 20px auto 0 30px;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0 30px;
  padding: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: 30px 30px 0;
}

.u-section-2 .u-image-2 {
  height: 298px;
  margin: 20px 30px 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 30px 0;
}

.u-section-2 .u-metadata-2 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 20px auto 0 30px;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0 30px;
  padding: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-text-5 {
  margin: 30px 30px 0;
}

.u-section-2 .u-image-3 {
  height: 298px;
  margin: 20px 30px 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 30px 0;
}

.u-section-2 .u-metadata-3 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 20px auto 0 30px;
}

.u-section-2 .u-btn-3 {
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0 30px;
  padding: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-text-7 {
  margin: 30px 30px 0;
}

.u-section-2 .u-image-4 {
  height: 298px;
  margin: 20px 30px 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 30px 0;
}

.u-section-2 .u-metadata-4 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 20px auto 0 30px;
}

.u-section-2 .u-btn-4 {
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0 30px;
  padding: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-text-9 {
  margin: 30px 30px 0;
}

.u-section-2 .u-image-5 {
  height: 298px;
  margin: 20px 30px 0;
}

.u-section-2 .u-text-10 {
  margin: 20px 30px 0;
}

.u-section-2 .u-metadata-5 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 20px auto 0 30px;
}

.u-section-2 .u-btn-5 {
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0 30px;
  padding: 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-text-11 {
  margin: 30px 30px 0;
}

.u-section-2 .u-image-6 {
  height: 298px;
  margin: 20px 30px 0;
}

.u-section-2 .u-text-12 {
  margin: 20px 30px 0;
}

.u-section-2 .u-metadata-6 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 20px auto 0 30px;
}

.u-section-2 .u-btn-6 {
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0 30px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-blog-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1476px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3056px;
  }

  .u-section-2 .u-blog-1 {
    width: 720px;
    margin-top: -30px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-blog-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1628px;
  }

  .u-section-2 .u-blog-1 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -460px;
  }

  .u-section-2 .u-metadata-2 {
    margin-top: 66px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -460px;
  }

  .u-section-2 .u-metadata-3 {
    margin-top: 66px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -460px;
  }

  .u-section-2 .u-metadata-4 {
    margin-top: 66px;
  }

  .u-section-2 .u-text-9 {
    margin-top: -460px;
  }

  .u-section-2 .u-metadata-5 {
    margin-top: 66px;
  }

  .u-section-2 .u-text-11 {
    margin-top: -460px;
  }

  .u-section-2 .u-metadata-6 {
    margin-top: 66px;
  }
}
