<section class="u-clearfix u-grey-5 u-section-6" id="carousel_09fd">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div
      class="u-grey-25 u-opacity u-opacity-45 u-shape u-shape-circle u-shape-1"
    ></div>
    <h1
      class="
        u-align-center-xs
        u-align-left-lg
        u-align-left-md
        u-align-left-sm
        u-align-left-xl
        u-custom-font
        u-font-oswald
        u-text
        u-text-custom-color-1
        u-text-1
      "
    >
      Marketing
    </h1>
    <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div
            class="
              u-align-center
              u-container-style
              u-layout-cell
              u-size-30
              u-layout-cell-1
            "
          >
            <div class="u-container-layout u-valign-top u-container-layout-1">
              <h2 class="u-custom-font u-font-oswald u-text u-text-2">
                SEO and PPC<br />Email marketing<br />Content Marketing<br />Website
                Design<br />
              </h2>
            </div>
          </div>
          <div
            class="
              u-container-style u-layout-cell u-size-30 u-white u-layout-cell-2
            "
          >
            <div class="u-container-layout u-container-layout-2">
              <p class="u-text u-text-3">
                Dignissim suspendisse in est ante in nibh mauris. Varius quam
                quisque id diam vel quam elementum pulvinar etiam. Nunc pulvinar
                sapien et ligula ullamcorper malesuada proin. Nunc mattis enim
                ut tellus elementum sagittis vitae et leo.
              </p>
              <div
                class="u-custom-color-1 u-shape u-shape-circle u-shape-2"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-grey-5 u-section-7" id="carousel_93d5">
  <div class="u-clearfix u-sheet u-valign-top-sm u-sheet-1">
    <div class="u-custom-color-1 u-shape u-shape-rectangle u-shape-1"></div>
    <img
      class="u-image u-image-default u-image-1"
      data-image-width="1140"
      data-image-height="801"
      src="/static/img/-min.jpg"
    />
    <div
      class="
        u-align-left u-container-style u-group u-palette-5-dark-3 u-group-1
      "
    >
      <div class="u-container-layout u-valign-middle u-container-layout-1">
        <h5 class="u-text u-text-1">design agency</h5>
        <h1 class="u-text u-text-2">Digital Marketing and Branding</h1>
        <p class="u-text u-text-body-alt-color u-text-3">
          Image by
          <a
            href="https://www.freepik.com/photos/people"
            class="
              u-border-1
              u-border-white
              u-btn
              u-button-link
              u-button-style
              u-none
              u-text-body-alt-color
              u-btn-1
            "
            target="_blank"
            >Freepik</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
